@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  padding: 0;
  margin: 0;
}
:root {
  background: #171717;
  color: white;
  --background: rgb(23, 23, 23);
  --netflix-font-red: #dc2626;
  --border-btn: rgb(51 65 85/1);
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.multi-line-ellipsis {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3; /* Number of lines to show */
  /* Optionally, you can also set fixed height or max-height for better control */
  max-height: 4.1em;
}

.two-line-ellipsis {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2; /* Number of lines to show */
  /* Optionally, you can also set fixed height or max-height for better control */
  /* max-height: 3em; */
}
::-webkit-scrollbar {
  background-color: #1f2028;
  width: 0.2rem;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #622424;
  border-radius: 5px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}


.loader {
  border: 8px solid #1d1d1d; /* Light gray border */
  border-top: 8px solid #3498db; /* Blue border on top */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite; /* Spin animation */
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


@media only screen and (max-width: 734px) {
  .movie-info {
    max-width: 80vh;
  }
}
@media only screen and (max-width: 820px) {
  .nav-links{
    display: none;
  }
  .full-logo{
    display: none;
  }

  .small-logo{
    display: block;
  }
  .nav-container{
    padding-top: 0.5rem;
  }

}
@media only screen and (max-width: 540px) {
  .trailer-container {
    width: 95%;
    margin-inline-end: 0;
    margin-inline-start: 0;
  }
  .episode-list {
    width: 100%;
  }
  .player-wrapper {
    width: 100%;
  }
  .movie-info-page {
    grid-column: span 5 / span 5;
  }
  .thumbnail-container {
    justify-self: center;
    grid-column: span 5 / span 5;
  }
  .movie-info{
    justify-self: center;
    grid-column: span 5 / span 5;
  }
}

@media only screen and (max-width: 460px) {
  .trailer-modal {
    align-items: start;
  }
  .movie-info {
    max-width: 100vh;
  }
}

@media only screen and (max-width: 900px) {
  .search-grid{
    grid-template-columns: repeat(4, minmax(0, 1fr));
    ;
  }
  
}
@media only screen and (max-width: 800px) {
  .search-grid{
    grid-template-columns: repeat(3, minmax(0, 1fr));
    ;
  }
}

@media only screen and (max-width: 600px) {
  .search-grid{
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media only screen and (max-width: 500px) {
  .search-grid{
    /* grid-template-columns: repeat(2, minmax(0, 1fr)); */
    padding-inline-start: 1rem;
    padding-inline-end: 1rem;
  }}
@media only screen and (max-width: 310px) {
  .search-grid{
    grid-template-columns: repeat(1, minmax(0, 1fr));
    /* padding-inline-start: 1rem;
    padding-inline-end: 1rem; */
  }
}